.certificate__date {
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 6px 32px;
  background: #fff;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}
